<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercado Liebre</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
<header>
  <div class="header-barra-todo">
      <div class="header-barra">
         <img width= 170 heigth=20 class="logo" src="../img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" ><a href="/views/home"></a></img>
      
         <form action="/search" method="GET" class="search-form">
          <input type="text" name="texto-dentro" placeholder="Buscar productos, marcas y más" class="search-form_input">
          <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
         </form>
      </div> 
      
      <div>
      <h2 class="cuotas-o-tarjeta">      
          <i class="fas fa-money-bill-wave"></i>
          Comprá en cuotas y sin tarjeta de crédito
      </h2>
      </div>
  </div>    

  <nav class="barra-main">
      <ul class="barra-principal">
          <li><a href="#ofertas">Ofertas</a></li>
          <li><a href="#tiendas">Tiendas oficiales</a></li>
          <li><a href="#vender">Vender</a></li>
          <li><a href="#ayuda">Ayuda</a></li>
      </ul>
  
      <ul class="barra-secundaria">
          <li class="cuenta-en-register"><a href="/views/register">Creá tu cuenta</a><i class="fas fa-id-card"></i></li>
          <li><a href="/views/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
          <li><a href="#misCompras">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
      </ul>
  </nav>

  <a class="icono-burger"><i class="fas fa-bars fa-3x"></i></a>
</header>


<main class="main-register">
  <form action="#" method="POST" class="formulario">
    <h2>Crear tu cuenta</h2>
    <div class="contenedor-formulario">
       <div class="contenedor-datos">
          <input type="text" id="nombre-apellido" placeholder="Nombre y apellido">

          <input type="text" id="nombre-usuario" placeholder="Nombre de usuario">
    
          <input type="email" id="mail-usuario" placeholder="Mail de usuario">

          <h4>Fecha de nacimiento</h4>
          <label for="fecha-nacimiento"></label>
          <input type="date" id="fecha-nacimiento">

          <input type="text" id="domicilio" placeholder="Domicilio">

          <h4>Perfil del usuario</h4>
       <div class="caja-perfil">
         <div class="perfil-comprador">
             <label for="comprador">Comprador</label>
             <input type="radio" name="perfil" id="comprador value="comprador">
         </div>
        <div class="perfil-vendedor">
           <label for="vendedor">Vendedor</label>
           <input type="radio" name="perfil" id="vendedor" value="vendedor">
        </div>
    </div>
    
    <div class=intereses-caja>
      <h4 class="intereses">Intereses</h4>
        <div>
          <label for="intereses">Electro</label>
          <input type="checkbox" id="intereses"name="intereses">
        </div>

        <div>
          <label for="intereses">Moda</label>
          <input type="checkbox" id="intereses"name="intereses">
        </div>

        <div>
          <label for="intereses">Hogar</label>
          <input type="checkbox" id="intereses"name="intereses">
        </div>

        <div>
          <label for="intereses">Jugueteria</label>
          <input type="checkbox" id="intereses"name="intereses">
        </div>

        <div>
          <label for="intereses">Vida Sana</label>
          <input type="checkbox" id="intereses"name="intereses">
        </div>
    </div>
    <button class="btn-crear-cuenta">Crear cuenta</button> 
   </div>

   <div class="foto-register"><img src="/img/foto-register.jpg" width= 450 height= 300 alt="Foto registro"></div>
  </div>
</form>
</main>

<footer class="footer">
  <div class="footer-row">
    <div class="apartadoEntero">
        <div class="iconoFooter"><i class="far fa-credit-card fa-2x"></i></div>
        <h4 class="tituloApartado">Pagá con tarjeta o efectivo</h4>
        <p class="parrafoApartado">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
    </div>
    <div class="apartadoEntero">
        <div class="iconoFooter"><i class="fas fa-gift fa-2x"></i></div>
        <h4 class="tituloApartado">Envío gratis desde $ 2.500</h4>
        <p class="parrafoApartado">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
        </p>
    </div>
    <div class= "apartadoEntero">
        <div class="iconoFooter"><i class="fas fa-user-shield fa-2x"></i></div>
        <h4 class="tituloApartado">Seguridad, de principio a fin</h4>
        <p class="parrafoApartado">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
        </p>
    </div>
   </div>
 <section class="copyright">
    <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
</section>   
</footer>
</body>
</html>
